<!DOCTYPE html>
<html lang="en">

<head>
    <title>WIT</title>


    <link href="../static/bootstrap.min.css" rel="stylesheet">\
    <link href='https://fonts.googleapis.com/css?family=Comfortaa:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,600italic' rel='stylesheet' type='text/css'>

</head>

<body>

    <div class="container">
        
        <div class="jumbotron" style = "margin-top:3pc">
            
            <p class="lead"></p>
            <p class="text-center"><a class="btn btn-lg btn-success" href="showRec" role="button">Start Listening!</a>
            <p class="text-center"><a class="btn btn-lg btn-success" href="wit" role="button">Query Wit!</a>
            </p>
        </div>



        <footer class="footer">
            
        </footer>

    </div>
</body>

</html>
